*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1em;
}



/* BACKGROUND IMAGE HERE  SHOWCASE*/
#showcase-wrapper{
    height:550px;
}

.bg-img{
    background:  url('../images/img-03_003.jpg');
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:550px;
    z-index: -1;
}

.bg-img::after{
    content: "";
    position: absolute;
    display: block;
    background-image: linear-gradient(350deg, rgba(0, 0, 0, 0.726), rgba(4, 32, 155, 0.685));
    left: 0;
    top:0;
    width: 100%;
    height: 550px;
}

/* SECTION HERE */
section{
    width: 90%;
    margin: 0 auto;
  
}
.logo{
    width: 70%;
    margin:  0 auto;
   
}
.logo img{
    width: 60%;
    margin:  1.5em auto;
}

 .input-wrapper{display: none;}

 /* NAV HERE */
nav{
    background: #fff;
    padding: .8em;
    width:100%;
    margin: 0 auto;
    overflow: hidden;
  
}

#active {
    color:#d8302f;
    font-weight:bold
}
.nav-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; 

 
}


.nav-ul li{
    margin-bottom: 1.4em;
}

.nav-ul li a{
    color: #222;
    text-decoration: none;
}

/* BURGER--ICON HERE */
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    padding-bottom:.1em;
}

.mnus-text{
    color: #000;
    font-size: 20px;
   
}
.burger-icon{
    border: 1px solid #000;
    padding:  .1em .5em;
    color: #000;
    font-weight:1000;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.burger-icon:hover{
    background: #d8302f;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
}


/* ===============NEWS CONTAINER HERE ========================*/
.new-container{
    background: #111111;
    color: #fff;
    padding: .8em;
  
}
.new-wrapper h4{
     font-weight: 400;
    

}
.new-container  .new-wrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    
}


.new-container .news{
    color: #d8302f;
}



/* ==================grid-container-img============== */
.grid-container-wrapper{
    background: rgba(245, 245, 245, 0.952);
}
.grid-container-img{
    display: grid;
    width: 90%;
    margin:  0 auto;

}
.big-img-content-first-one img{
    width: 100%;
    height: 450px;
}


/* big-img-content-first */
/* big-img-content-first content */

.big-img-content-first-content{
     margin: 2.1em 0;
}
.big-img-content-first-content .george-profile{
    width: 100px;
    height: 100px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

 button{
    float: left;
    background: #d8302f;
    color: #fff;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 20px;
    border:none;
    margin-top: 5px;
    margin: 0 0 15px 0;
    font-weight: 500;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
   button:hover{
    background:#333;
    transition: ease background 1s;
    -webkit-transition: ease background 1s;
    -moz-transition: ease background 1s;
    -ms-transition: ease background 1s;
    -o-transition: ease background 1s;
 
   }

.big-img-content-first-content  h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin: 0 0 15px 0;
     padding: 0;
}

.big-img-content-first-content P{
    float: left;
    width: 100%;
    line-height: 24px;
    font-size: 13px;
    text-align: left;
    margin: 0 0 15px 0;
    font-weight: 400;
}




/* big-img-content-first-three */
.big-img-content-first-three{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    background: #f9f9f9;
    padding:  .3em 0 0 0;
    margin: 1em 0 0;
}

.big-img-content-first-three .img{
    width: 80%;
    padding: 1em;
    height:430px;
    
}
.img-container{
    padding: 0 1em;
    font-family: 'Poppins', sans-serif;
}
.img-container img{
    float: left;
    width: 80px;
    height:80px;
    margin: .2em;
    border-radius: 50%;
    box-shadow: none;
    border: solid #ccc 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.img-container p{
    float: left;
    width: 100%;
    line-height: 24px;
    font-size: 13px;
    text-align: left;
    font-weight: 400;
}
.img-container span h4{
    font-size: 16px;
    margin: 0;
    color: #d8302f;
    text-align: left;
    padding: 10px 0 0 0;

    }
   .img-container h3{
    font-size: 18px;
    font-weight: 600;
    line-height:30px;
    margin: 2.5em 0 15px 0;
    padding: 0;
    display:block;
   }
    

.img-container span h5{
        width: 100%;
        text-align: left;
        font-size: 13px;
        color: #999;
    }

/*  search-styling  */

  /* grid-left-aside-one   */ 
.search-styling-field{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
}
.search-styling-field input{
    padding: .4em 1em;
    background: #f0f0f0;
    border: none;
    font-size: 1.1em;
    width: 80%;
}
.search-styling-field .fa-search{
     background: #000;
     border-radius:5px;
     color: #ffff;
     font-size: 20px;
     text-align: center;
     width: 10%;
     display: grid;
     place-items: center;
     -webkit-border-radius:5px;
     -moz-border-radius:5px;
     -ms-border-radius:5px;
     -o-border-radius:5px;
}
.search-styling-field .fa-search:hover{
    background: #d8302f;
    color:white;
}
/* search-styling  field  end here*/


.top-caterigories{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    margin:0;
    padding: 1em;
  
   
}
.top-caterigories h4{
    width: 100%;
    margin: 0;
    padding: 0 0 5px;
    font-size: 18px;
    color: #222;
}


.top-caterigories p{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2) ;
    color: #1f1f1f;
    line-height:2.4;

}

/* grid-left-aside-two */
.grid-left-aside-two{
    margin: 0 0 2em;
}
.grid-left-aside-two img{
    width:100%;
    height:400px;
    padding: 0 1em;
}
.grid-left-aside-two li{
    list-style: none;
    padding: 0 1.2em;
    background: whitesmoke;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);



}
.grid-left-aside-two h4{
    width: 100%;
    margin: 0;
    padding: 1em 0 10px;
    font-size: 18px;
    color: #222;

}
.grid-left-aside-two .p{
    padding: 2em 0;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
}
/* grid-left-aside-three */
.grid-left-aside-three{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    padding: 1em 0;
    margin:1.6em 0;
   
}
.grid-left-aside-three ul li:nth-child(even){
     background: #f6f6f6;
}
.grid-left-aside-three ul li{
    padding: 0em 1.8em;
    width:100%;
    margin:0 auto;
    
}
.grid-left-aside-three ul li img{
    width:40px;
    height: 40px;
}
.grid-left-aside-three span{
    font-size:2em;
    line-height:2;
    font-weight:400;
}
.grid-left-aside-three .span{
    font-size:.6em;
    font-weight:700;
    display: block;
}
.grid-left-aside-three .span-one{
    background: #f6f6f6;
    line-height:2.2;

}
.grid-left-aside-three ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.grid-left-aside-three{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
/* grid-left-aside-our */

.grid-left-aside-four{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    
}
.grid-left-aside-four img{
  width: 100%;
}
.grid-left-aside-four li{
    list-style-type: none;
}

.grid-left-aside-four h3{
    font-size: 16px;
    color: #363636;
    float: left;
    margin: 10px 0;
    padding: 1em 15px;
    font-weight: 600;
}
.table{
    width: 100%;
    margin: 1em auto;
    /* margin-bottom: 20px; */
    
}
table{
    border: 1px solid #ddd;
    border-collapse: collapse;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
table th{
    padding:5px 15px;
}
table>tbody>tr>td {
     padding: 4px;
     line-height: 1;
     vertical-align: top;
     color:grey;


}
.padding-controling{
    padding:  1.7em;
}
/* ============grid-top-soccer ===============*/



/* footer */


footer{
    background: #111111;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    overflow: hidden;
 
    
}

.footer-wrappper{
    width: 80%;
    margin: 0 auto;
    
} 

footer .icon{
    border:  2px solid #222;
    padding: .7em;
    margin: 1em 0;
    border-radius: 50%;;
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    -ms-border-radius: 50;
    -o-border-radius: 50;
}

footer ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
 footer ul li{
    margin-bottom: 1.1em;
    
}
footer ul li a{
    color: grey;
    text-decoration: none;
}

/* footer-one */
.footer-one{
    width: 100%;
    padding: 2em 0;
    color: grey;
    
 
}
footer ul h4{
    padding:1.1em 0;
}
.footer-one .logo{
    width:170px;
    padding-bottom: .6em;
}

.footer-five img{
    width:390px;
    height: 400px;
}



/* MEDIA QUERY FOR TABLET HERE */
@media screen and (min-width:900px){
    section{
        width: 90%;
        margin: 0 auto;
       
    }
    /* LOGO START  HERE*/
    .logo{
        width: 80%;
        margin: 0 auto;
    }

    .logo img{
        width:15em;
    }
          /* LOGO END   HERE*/
        /* NAV STAR HERE ============ ANV IS  DISPLAY IS  BLOCK*/
        nav{
            width: 45em;
            display: none;
        }

        /* NAV END  HERE */
        .input-wrapper{
            background: #fff;
            display: flex;
            justify-content: flex-end;
            width: 80%;
            margin: 0 auto;
            padding: .7em;
            height: 4em;
        }
        .input-search{
            border:2.5px solid #d8302f;
            padding: .6em;
            width:9em;

   
        }
    .search{
            background:  #d8302f;
            padding: .6em;
        }


        /* input-wrapper */

    .font-wrapper{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        width:90%;
        margin: 1em;
    }
    .font-wrapper .icon{
        color: #ccc;
        font-size: 1.2em;
        padding: .6em;
        border: 1px solid #ddd;
        margin-right: 1em;
        border-radius:60%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
        -o-border-radius:50%;
}

.font-wrapper .icon:hover{
    background: #d8302f;
    border: 1px solid #d8302f;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
}


 .user,
 .shopping-cart{
    background: #d8302f;
    width: 6.9em;
    padding:.6em .9em;
    color:#fff;
    border-radius:30px;
    margin-right: .2em;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
   
}
.user:hover,
.shopping-cart:hover{
    background: #fff;
    color: #222;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;

}

/* ==============grid-img-box ==========*/
.grid-container-wrapper{
    margin: 2em auto;

}
.grid-container-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin:  0 auto;
    
  
   
}
.big-img-content-first-one{
     width: 100%;
    grid-column: 1/4;

}
.big-img-content-first-two{
    width: 100%;
   grid-column: 1/4;

}
/* big-img-content-first-three */
.big-img-content-first-three{
    grid-column: 1/4;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    
}

.big-img-content-first-three .img{
    width: 100%;
    padding: 1em;
    height:430px;
    
}

/* .grid-left-aside-one */
.grid-left-aside-one{
    grid-column: 4/5;
    grid-row:1/3;
    margin: 0 2em;
   
}
.grid-left-aside-two{
   grid-column: 4/5;
   grid-row:2/4;
   margin: 0 2em;
 
}
.grid-left-aside-two img{
    width:100%;
    height:180px;
}
/* ..grid-left-aside-three */
.grid-left-aside-three{
    grid-column: 4/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row:3/4;
    margin: 1em 2em;
 


}
/* .grid-left-aside-four */
.grid-left-aside-four{
    grid-column: 4/5;
    grid-row:4/5;
    margin: 0 2em;

}
/* table */
table{
    grid-column: 4/5;
    margin: 0 2em;
}
 /* footer */
.footer-wrappper  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}

}
/* MEDIA QUERY FOR TABLET HERE */

@media screen and (min-width:1085px){
    .main-wrapper{
        display: flex;
        flex-direction: row;
    }


    /* NAVL UL */
    .menu{
        display: none;
    }
    nav{
        display: block;
        overflow: hidden;
    }
    .nav-ul{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding: 0;
        margin:0;
    }
    .nav-ul li{
        margin-right: 2em;
        margin-bottom: 0;
    }

    .input-wrapper{
        order: 2;
    }
/*    /*============= grid-img-box==================== */ 

/* big-img-content-first-three */
.big-img-content-first-three{
    grid-column: 1/4;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    
}


 /* footer */
 .footer-wrappper  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
  
}
    
}
/* /* MEDIA QUERY FOR DESKTOP HERE */ 

